@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    gap: 1.5em;
    padding: .4em .7em;
    /* border: 2px solid red; */
}

.logo {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo span {
    font-size: 3em;
    font-weight: 600;
    color: #9b000a;
}
.uni-title:hover {
    color: #009B91;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;    
}
nav li {
    border-radius: 8px;
    font-weight: 500;
    height: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 7px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.active {
    border-radius: 8px;
    font-size: 1.4em;
    font-weight: 700;
}

section {
    padding: 100px 50px;
}

.main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
    url("images/estu_view.jpeg");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #9b000a;
    font-size: 1.5em;
    font-weight: 600;
}

.socials .s-icon{
    max-height: 40px;
    margin-right: 4px;
    filter: invert(36%) sepia(92%) saturate(702%) hue-rotate(135deg) brightness(103%) contrast(101%);
}

.s-icon:hover{
    filter: invert(6%) sepia(63%) saturate(7410%) hue-rotate(351deg) brightness(139%) contrast(108%);
}

.uni-img {
    border: 1px solid #fff;
    width: 45%;
    min-height: 350px;
    max-height: 300px;
    background-color: rgba(241, 236, 236, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: 1s ease;
}

.uni-img:hover {
    transform: scale(1.1);
}

.main-2 {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    align-items: flex-start;
    background-color: #f1ecec;
}

.title {
    display: flex;
    justify-content: center;
    color: #9b000a;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

aside ul{
    list-style: none;
}

.highlight a {
    display: flex;
    color: #9b000a;
    border: none;
    text-decoration: none;
    -webkit-transition: background 1s; 
    transition: background 1s; 
    border-radius: 8px;
    padding: .3em;
}
.highlight a:hover {
    background-color: #009B91;
}

.aside {
    font-size: 1.5em;
    padding: 3rem;
    padding-left: 0;
    width: 20%;
    
    
}

.announcements {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
    width: 80%;
    padding: 1.3em;
}

.announcements ul{
    list-style: none;
    align-self: flex-start;
}
.announcements ul li {
    padding-bottom: 1.2em;
}
.announcements ul a {
    font-size: 1.2em;
    color: black;
    font-weight: 500;
    display: inline-block;
    position: relative;
    
}
.announcements ul a:hover {
    color: #9b000a;
}
.announcements ul a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9b000a;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}
.announcements ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    min-height: 9em;
    align-items: center;
}

footer p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

/* **************index page******************* */
.login-nav {
    border: 3px solid green;
    display: flex;
    justify-content: flex-end;
    
}

.login-nav ul {
    border: 3px solid red;
    display: flex;
    gap: 2.5em;
    padding-right: 2em;
}

.login-nav ul li{
    border: 3px solid green;

}

/* ***********Login page *********** */
.show-login{
    background: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 600;
    color: #9b000a;
    border-radius: 8px;
    cursor: pointer;
}
.show-login:hover {
    background-color: #009b91;
}

.login-sec {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
    url("images/estu_view.jpeg");    
}

.login-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-container {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login-container{
    display: none;
    background: #fff;
    max-width: 420px;
    min-width: 300px;
    padding: 2em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
#show:checked ~ .login-container{
    display: block;
    
}
#show:checked ~ .show-login{
    display: none;
}
input[type="checkbox"] {
    display: none;
}

.login-container .close-div {
    display: flex;
    justify-content: end;
}
.login-container .close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    padding: .5em;
    border-radius: 50%;
    cursor: pointer;
}
.login-container .close:hover{
    background-color: #009B91;
}

.login-container .login-title {
    font-size: 2.25em;
    text-align: center;
    font-weight: 600;
    color: #9b000a;
}

.login-container .login-form {
    margin-top: -20px;
}

.login-container .login-form .data {
    height: 2.8em;
    width: 100%;
    margin: 2.5em 0;
}

.login-form .data label{
    font-size: 1.2em;
    color: #9b000a;
}

.login-form .data input {
    height: 100%;
    width: 100%;
    padding-left: .5em;
    font-size: 1.1em;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
}
.login-form .data input:focus, .login-form .data input:hover {
    border-color: #009B91;
    border-bottom-width: 2px;
}

.login-form .forgot-pswd a, .signup-link a{
    color: #009b91;
}
.login-form .forgot-pswd a:hover, .signup-link a:hover {
    text-decoration: underline;
}

.login-form .btn {
    margin: 2em 0;
    height: 2.8em;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.login-form .btn .inner {
    height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right, #009b91, #00b38c, #23c978, #67dc55, #a8eb12);
  transition: all 0.4s;
}

.login-form .btn:hover .inner {
    left: 0;
}

.login-form .btn button {
    height: 100%;
    width: 100%;
    background: none;
    color: #9b000a;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.signup-link {
    text-align: center;

}

/*****University*********/
.uni-main {
    min-height: 50vh;
}

.read-more-state {
    display: none;
  }
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  .read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
  }

  .uni-img-2  {
    margin-top: 2em;
    width: 100%;
    background-color: rgba(241, 236, 236, 0.2);
    border-radius: 10px;
    transition: 1s ease;
}

.uni-img-2:hover img{
    opacity: 0.75;
}

/*********Academics*********/
.tables {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}

.ac-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ac-table caption {
    background-color: #83b8b4;
    color: #9b000a;
    font-size: 1.5em;
    font-weight: 700;
}
.ac-table thead tr {
    background-color: #009b91;
    color: #9b000a;
    text-align: left;
}

.ac-table th,
.ac-table td {
    padding: 12px 15px;
}

.ac-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.ac-table tbody tr:nth-of-type(even) {
    background-color: #d8cccc;
}

.ac-table tbody tr:last-of-type {
    border-bottom: 2px solid #009b91;
}

/******************Student***********/
.menu-btn{
    background-color: transparent;
    cursor: pointer;
    border: transparent;

}
.stdnt-menu {
    position: relative;
    display: inline-block;
}
.drop-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: .2em;
    min-width: 158px;
    z-index: 1;
}
.drop-menu a:hover {
    background-color: #009b91;
    color: #fff;
}
.drop-menu #drop-elmnt{
    font-size: .8em;
    font-weight: 400;
}
.stdnt-menu:hover .drop-menu{
    display: block;
}
.stdnt-menu:hover .menu-btn {
    background-color: transparent;
}

.cards {
    width: 100%;
    min-height: 20em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 25em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: .2s ease;
}
.card:hover {
    transform: scale(1.1);
}
.club-img img {
    width: 100%;
    
}
.card-info {
    padding: 1em;
}
.card-info p {
    font-size: 0.8em;
    color: #000;
}
.club-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.read-more {
    text-decoration: none;
    color: #9b000a;
}
.read-more:hover {
    color: #009b91;
}

/**********Document**********/
.doc-cards {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2.5em;
    flex-wrap: wrap;
}
.doc-card {
    background-color: #fff;
    width: 15em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 1.5em;
    margin: 0.9em;
}
.doc-card .icon {
    display: flex;
    justify-content: center;
}
.doc-card .icon img {
    filter: invert(6%) sepia(63%) saturate(7410%) hue-rotate(351deg) brightness(139%) contrast(108%);
    height: 8em;
}
.doc-card .info {
    text-align: center;
}
.doc-card a {
    color: #9b000a;
}
.down-icon {
    filter: invert(6%) sepia(63%) saturate(7410%) hue-rotate(351deg) brightness(139%) contrast(108%);
    margin-left: 6px;
}

/************Campus life******/
.abt-campus {
    width: 100%;
    display: flex;
    justify-content: center;
}