@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    gap: 1.5em;
    padding: .4em .7em;
    /* border: 2px solid red; */
}

.logo {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo span {
    font-size: 3em;
    font-weight: 600;
    color: #9b000a;
}
.uni-title:hover {
    color: #009B91;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    border-radius: 8px;
    font-weight: 500;
    height: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 7px;
    justify-content: space-between;
    
}

section {
    padding: 100px 50px;
}

.main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
    url("images/estu_view.jpeg");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 6px solid red;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #9b000a;
    font-size: 1.5em;
    font-weight: 600;
}

.socials .s-icon{
    max-height: 40px;
    margin-right: 4px;
    filter: invert(36%) sepia(92%) saturate(702%) hue-rotate(135deg) brightness(103%) contrast(101%);
}

.s-icon:hover{
    filter: invert(6%) sepia(63%) saturate(7410%) hue-rotate(351deg) brightness(139%) contrast(108%);
}

.uni-img {
    border: 1px solid #fff;
    width: 45%;
    min-height: 350px;
    max-height: 300px;
    background-color: rgba(241, 236, 236, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: 1s ease;
}

.uni-img:hover {
    transform: scale(1.1);
}

.main-2 {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    align-items: flex-start;
    background-color: #f1ecec;
}

.title {
    display: flex;
    justify-content: center;
    color: #9b000a;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

aside ul{
    list-style: none;
}

.highlight a {
    display: flex;
    color: #9b000a;
    border: none;
    text-decoration: none;
    -webkit-transition: background 1s; 
    transition: background 1s; 
    border-radius: 8px;
    padding: .3em;
}
.highlight a:hover {
    background-color: #009B91;
}

.aside {
    font-size: 1.5em;
    padding: 3rem;
    padding-left: 0;
    width: 20%;
    
    
}

.announcements {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
    width: 80%;
    padding: 1.3em;
}

.announcements ul{
    list-style: none;
    align-self: flex-start;
}
.announcements ul li {
    padding-bottom: 1.2em;
}
.announcements ul a {
    font-size: 1.2em;
    color: black;
    font-weight: 500;
    display: inline-block;
    position: relative;
    
}
.announcements ul a:hover {
    color: #9b000a;
}
.announcements ul a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9b000a;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}
.announcements ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    min-height: 9em;
    align-items: center;
}

footer p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}




